html,body,header,footer,nav,div,ul,ol,li,span,p,a,h1,h2,h3,h4,h5,img{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    vertical-align: bottom;
    font-family: sans-serif;
}

// ***** about *****
nav{
    li{
        a{
            color:#fff;
        }
    }
}
#about{
    overflow: hidden;
    .grid-flex{
        .grid-3{
            img{
                margin-top: -.8em;
                margin-bottom: -2em;
                border-radius: 5%;
            }
            .txt{
                margin-top: -.8em;
                width: 120%;
                font-size: 1em;
            }
    }
    }
}
#follow{
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 1.5em;
    .icon{
        font-size: 4em;
        margin: 12px 10px 5px 12px;
        color:rgb(0, 0, 0);
    }
    .icon:hover{
        transform: scale(1.2);
        transition: all 500ms ease;
    }
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: .9em;
    height: 50px;
    width: 100%;
    bottom: 0;
}
@media only screen and (min-width: 320px){
    img{
        width: 100%;
        margin-left: 0em;
        margin-bottom: .1em;
    }
    .txt{
        margin-top: -3em;
        padding: 0 1em;
    }
    .grid-3{
    margin: 7em auto 0 auto;
    } 
}
@media only screen and (min-width: 768px){
    img{
        width: 170%;
    }
    .txt{
        margin-top: -0.5em;
        margin-left: -2em ;
        width: 150%;
    }
    .grid-3{
        margin: 7em auto 1em auto
    } 
}
@media only screen and (min-width: 880px){
    .txt{
        margin-top: .1em;
    }
    #follow{
        margin-top: 3em;
    }
}
@media only screen and (min-width: 1024px){
    .txt{
        margin-top: 1.8em;
    }
    .grid-3{
    margin: 10em auto 1em auto;
    }
}

// ***** store *****
#map{
    margin: 7em auto 1em auto;
}
#info .grid-1{
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    padding: 1em 0;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    .grid-3{
        width: 100%;
        margin: 1em;
        text-align: center;
        display: inline-block;
        h4{
            margin-left: .7em;
            text-align: center;
            display: inline;
        }
        p{
            text-align: center;
            display: inline;
        }
        p a:hover{
            color: gold;
        }
    }
}